.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(44, 102, 144);
}

.login-box {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 200px;
  padding-bottom: 10px;
}

.title {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: rgb(58, 124, 165);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #357f92;
}

.btn-register {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  color: #4f9fb0;
  border: 1px solid #4f9fb0;
  border-radius: 5px;
  cursor: pointer;
}

.btn-register:hover {
  background-color: #4f9fb0;
  color: white;
}

.error {
  color: red;
  font-size: 14px;
}
